.container {
  padding: 2rem;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(243, 117, 32, 0.15);
  border: 1px solid rgba(243, 117, 32, 0.15);
}
